<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <title>AngularJS APP</title>
</head>

<body>
  <div class="container"><div class="row">
    <div class="col-md-6 col-md-offset-3">
      <!-- Initilize angular application with main module name -->
      <div ng-app="App">
        <section ng-include="'/app.tpl.html'"></section>
      </div>
    </div>
  </div></div>
</body>

<script src="/vendors.js"></script>
<script src="/bundle.js"></script>
</html>