<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJS</title>
</head>
<body>
    <div ng-app="App"> <!-- Correspond au nom d'un module-->

        <!-- Controller et directive -->
        <div ng-controller="ValueController as ctrl">
            <input type="text" ng-model="ctrl.value"/>
            <Value ng-model="ctrl.value"></Value> <!-- Comme défini dans app.directive -->
        </div>

        <!-- Controller et controller -->
        <div>
            <input ng-controller="ValueControllerOne as ctrl" ng-model="ctrl.value" ng-change="ctrl.valueUpdated()"/>
            <input ng-controller="ValueControllerTwo as ctrl" ng-model="ctrl.value" ng-change="ctrl.valueUpdated()"/>
        </div>
    </div>

    <script src="https://unpkg.com/angular@1.6.8/angular.js"></script>
    <script>
        var ValueController = function () {
            this.value = 'Hello World';
        };

        var ValueControllerOne = function ($rootScope, $scope) { // Injection de dépendence
            var ctrl = this;

            ctrl.value = 'Hello World One';
            ctrl.valueUpdated = function () {

                // Emet un événement à partir du scope racine
                // car les deux controlleurs sont au même niveau
                // et $broadcast émet vers les scopes enfants
                //
                // Il existe aussi $emit qui émet vers les parents
                $rootScope.$broadcast('valueUpdatedFromOne', ctrl.value);
            };

            // Ecoute les événements du scope courant
            $scope.$on('valueUpdatedFromTwo', function (event, value) {
                ctrl.value = value;
            });
        };

        var ValueControllerTwo = function ($rootScope, $scope) {
            var ctrl = this;

            ctrl.value = 'Hello World Two';
            ctrl.valueUpdated = function () {
                $rootScope.$broadcast('valueUpdatedFromTwo', ctrl.value);
            };

            $scope.$on('valueUpdatedFromOne', function (event, value) {
                ctrl.value = value;
            });
        };

        var ValueDirective = function () {
            return {
                template : '<input type="text" ng-model="value"/>',
                scope : {
                    value : '=?ngModel' // Double data-binding
                }
            };
        };

        var app = angular.module('App', []);
        app.directive('value', ValueDirective); // Première lettre lowercase obligatoire (directive)
        app.controller('ValueController', ValueController); // Nom pour injection de dépendences
        app.controller('ValueControllerOne', ValueControllerOne);
        app.controller('ValueControllerTwo', ValueControllerTwo);
    </script>
</body>
</html>