<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
</head>
<body>
    <div id="vm">
    </div>

    <script type="x-template" id="survey">
        <div>
            <Question v-for="(question, index) in questions" :title="question" :key="index"/>
        </div>
    </script>

    <script type="x-template" id="question">
        <div>
            <div v-if="answered">
                <span>{{ title }}</span>
                <!--<span>{{ answer === 'true' ? 'Yes' : 'No' }}</span>-->
                <span>{{ answerDisplay }}</span>
            </div>
            <div v-else>
                <span>{{ title }}</span>
                <label><input type="radio" name="answer" value="true" v-model="answer" @change="answerQuestion"/>Yes</label>
                <label><input type="radio" name="answer" value="false" v-model="answer" @change="answerQuestion"/>No</label>
            </div>
        </div>
    </script>

    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
    <script>
      Vue.component('Survey', {
        template: '#survey',
        data: function(){
          return {
            questions: [
              'Are you a developer ?', 'Do you like bananas ?'
            ]
          }
        }
      });

      Vue.component('Question', {
        template: '#question',
        props: [ 'title' ],
        data: function(){
          return {
            answered: false,
            answer: null
          }
        },
        computed: { // Watch avec cache
          answerDisplay: function () {
            return this.answer === 'true' ? 'Yes' : 'No';
          }
        },
        methods: { // Fonctions internes du composant
          answerQuestion: function () {
            this.answered = true;
          }
        }
      });

      var vm = new Vue({
        el: '#vm',
        template: '<Survey></Survey>'
      });
    </script>
</body>
</html>